aiohttp==0.21.0
alabaster==0.7.9
APScheduler==3.1.0
argh==0.26.2
aws==0.2.5
Babel==2.3.4
bcrypt==3.1.2
beautifulsoup4==4.4.1
bfg==0.0.2
blinker==1.4
boto==2.42.0
bs4==0.0.1
cffi==1.9.1
chardet==2.3.0
click==6.2
csvkit==0.9.1
decorator==4.0.9
docutils==0.12
dulwich==0.9.7
Fabric==1.12.0
flake8==2.5.4
flake8-docstrings==0.2.6
Flask==0.10.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.1
Flask-User==0.6.11
Flask-WTF==0.14.2
funky==0.0.2
fuzzywuzzy==0.11.0
gitdb==0.6.4
GitPython==2.0.1
h2==2.3.1
hpack==2.2.0
humanize==0.5.1
hyper==0.6.0
hyperframe==3.2.0
imagesize==0.7.1
isodate==0.5.4
itsdangerous==0.24
jdcal==1.3
Jinja2==2.8
jsonpath-rw==1.4.0
jsonschema==2.5.1
keepalive==0.5
livereload==2.4.1
lxml==3.6.0
MarkupSafe==0.23
mccabe==0.4.0
modsqual==0.5.0
numpy==1.11.0
objectpath==0.5
openpyxl==2.2.0b1
pandas==0.18.1
pandoc==1.0.0b2
paramiko==1.10.0
passlib==1.7.0
pathtools==0.1.2
pep257==0.7.0
pep8==1.7.0
ply==3.8
port-for==0.3.1
prettytable==0.7.2
pycparser==2.17
pycrypto==2.6
pycryptodome==3.4.3
pyflakes==1.0.0
Pygments==2.1.3
pymarc==3.0.4
pypandoc==1.3.3
pyparsing==2.1.5
python-dateutil==2.2
python-docx==0.8.6
pytoml==0.1.8
pytz==2016.4
PyYAML==3.11
rdflib==4.2.1
rdflib-jsonld==0.4.0
requests==2.10.0
six==1.10.0
smmap==0.9.0
snowballstemmer==1.2.1
SPARQLWrapper==1.7.6
sphinx-autobuild==0.6.0
SQLAlchemy==1.1.4
tornado==4.4.1
twtxt==1.0.1
tzlocal==1.2.2
virtualenv==13.1.2
watchdog==0.8.3
websocket-client==0.37.0
Werkzeug==0.11.3
WTForms==2.1
xlrd==1.0.0
xmltodict==0.10.1
